@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, #420566, #497dd8);
    background-size: 200% 1000%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

#scanForm {
    max-width: 500px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#loading {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #151212;
    margin-top: 20px;
}

table {
    margin: 40px auto 100px;
    background-color: #fff;
    max-width: 500px;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #e2e2e2;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: #fff;
}
