
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstraNet Dashboard</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
</head>

<body>
    <div class="container">
        <h2>Welcome to AstraNet</h2>
        <p>Select a tool to proceed:</p>
        <ul class="tool-list">
            <li><a href="/input-validation">Input Validation</a></li>
            <li><a href="/whois-lookup">Whois Lookup</a></li>
            <li><a href="/dns-lookup">DNS Lookup</a></li>
            <li><a href="/port-scan">Port Scan</a></li>
            <li><a href="/directory-enumeration">Directory Enumeration</a></li>
            <li><a href="/subdomain">Subdomain Finder</a></li>
        </ul>
    </div>
    <script src="/static/scripts.js"></script>
</body>

</html>
